<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="https://www.youtube.com/iframe_api"></script>

</head>

<body data-ng-app="app">
    <header class="header">
        <div class="container">
        </div>
    </header>
    <section class="section">
        <div class="container is-fluid">
            <div class="heading">
                <h1 class="title">Section</h1>
                <h2 class="subtitle"></h2>
            </div>
            <div data-ng-controller="ctrl" class="columns">
                <div class="column">
                    <p class="control is-grouped">
                        <input data-ng-model="url" class="input" type="text" placeholder="YouTube URL or ID">
                    </p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <youtube-video data-video-id="videoId" player="player" class="embed-responsive-item"></youtube-video>
                    </div>
                    <p class="control is-grouped">
                        <input data-ng-model="entry" ng-keyup="$event.keyCode == 13 && addToList($event)" class="input" type="text" placeholder="Input title of contents and Enter">
                    </p>
                </div>
                <div class="column">
                    <p class="control is-grouped" data-ng-repeat="l in list | orderBy:'seconds' track by $index">
                        <a class="button is-info is-outlined" data-ng-click="changeTime(l.$id, -1)"><i class="fa fa-minus"></i></a>
                        <a class="button is-info is-outlined" data-ng-click="changeTime(l.$id, 1)"><i class="fa fa-plus"></i></a>
                        <a class="button is-info" data-ng-click="moveTo(l.seconds)">{{l.currentTimeString}}</a>
                        <input data-ng-model="l.title" class="input is-info" type="text" placeholder="Title">
                        <a class="button is-info is-outlined" data-ng-href="{{'http://www.youtube.com/watch?v=' + videoId + '&t=' + l.currentTimeString}}" target="_blank"><i class="fa fa-link"></i></a>
                        <a class="button is-danger is-outlined" data-ng-click="remove(l)"><i class="fa fa-trash"></i></a>
                    </p>
                    <p class="control is-grouped">
                        <label>
                            <input type="radio" ng-model="exportType" value="txt">YouTube
                        </label>
                        <label>
                            <input type="radio" ng-model="exportType" value="html">HTML
                        </label>
                        <label>
                            <input type="radio" ng-model="exportType" value="md">MD
                        </label>
                    </p>
                    <p class="control is-grouped">
                        <pre>{{toCopy(exportType)}}</pre>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container">
        </div>
    </footer>
    <script src="bundle.js"></script>
</body>

</html>